﻿<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>AngularJS Authentication</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
    <div class="container">
        <div class="navbar-header">
            <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <a class="navbar-brand" href="#/">Home</a>
        </div>
        <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-hide="!authentication.isAuth"><a href="#">Welcome {{authentication.userName}}</a></li>
                <li data-ng-hide="!authentication.isAuth || !canManageData"><a href="#/data">Users Data</a></li>
                <li data-ng-hide="!authentication.isAuth || !canManageUsers"><a href="#/userManager">Users</a></li>
                <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                <li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                <li data-ng-hide="authentication.isAuth"> <a href="#/signup">Sign Up</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="jumbotron">
        <div class="container">
            <div class="page-header text-center">
                <h1>TimeZone</h1>
            </div>            
        </div>
    </div>
    <div class="container">
        <div data-ng-view="">
        </div>
    </div>
    <hr />
    <!-- 3rd party libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <script src="scripts/moment.min.js"></script>
    <!--<script src="scripts/moment-with-locales.min.js"></script>-->
    <!--<script src="scripts/moment-timezone.min.js"></script>-->
    <script src="scripts/moment-timezone-with-data-2010-2020.min.js"></script>
    <script src="scripts/moment-timezone-utils.js"></script>
    <!--<script src="scripts/moment-timezone-with-data.min.js"></script>-->
    <!-- Load app main script -->
    <script src="app/app.js"></script>
    <!-- Load services -->
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/dataService.js"></script>    
    <script src="app/services/userManagerService.js"></script>
    <!-- Load directives -->
    <script src="app/directives/timeZone.js"></script>
    <script src="app/directives/timeDirective.js"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/signupController.js"></script>
    <script src="app/controllers/dataController.js"></script>
    <script src="app/controllers/userManagerController.js"></script>
    <script src="app/controllers/timeZoneController.js"></script>
    <script src="app/controllers/timeZoneAdminController.js"></script>
</body>
</html>