﻿

<div class="row">
    <div class="form-login">
        <select class="form-control" name="userSelect" ng-model="user" ng-change="userChanged()">
            <option value="">---Please select---</option>
            <option ng-repeat="option in users" value="{{option.userName}}">{{option.userName}}</option>
        </select><br>
    </div>
    <div time-zone-admin></div>
</div>
