﻿<div class="row">

    <div class="alert alert-danger" ng-if="errorMessage">
        <h2> {{errorMessage}}</h2>
    </div>

    <div ng-if="authentication.isAuth && !isUser">
        <h2 ng-bind="rolesString()"></h2>
        <div ng-if="canManageUsers" class="col-md-4">
            <p class="text-primary">You can manage the users</p>
            <p><a class="btn btn-info" href="#/userManager" role="button">Users &raquo;</a>
            </p>
        </div>
        <div ng-if="canManageData" class="col-md-4">
            <p class="text-primary">You can manage the data</p>
            <p><a class="btn btn-info" href="#/data" role="button">Data &raquo;</a>
            </p>
        </div>

    </div>

    <div ng-if="authentication.isAuth && isUser">
        <div time-zone></div>
    </div>

    <div ng-if ="!authentication.isAuth">
        <div class="col-md-4">
            <h2>Login</h2>
            <p class="text-primary">If you have Username and Password, you can use the button below to login</p>
            <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Sign Up</h2>
            <p class="text-primary">Use the button below to create Username and Password</p>
            <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>