﻿

<div class="row">
    <div class="form-login">
        <table>
            <tbody>
            <td>
                <h2>Local Time&nbsp;</h2>
            </td>
            <td>
                <!--<h2>{{ localTime | date: "HH:mm:ss"}}</h2>-->
                <h2 time="'HH:mm:ss'"></h2>
            </td>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <button type="button" class="btn btn-sm btn-primary btn-block" ng-click="toggleShowAddTimeZone()">Add new TimeZone</button>

        <form name="inputForm" ng-if="showAddTimeZone">
            <select class="form-control" name="timeZoneSelect" ng-model="timeZoneId" ng-change="timeZoneChanged(timeZoneId)">
                <option value="">---Select from default TimeZones---</option>
                <option ng-repeat="option in allTimeZones" value="{{option.id}}">{{option.name}}</option>
            </select><br>

            <div class="form-group">
                <label for="timeZoneName">Name*:</label>
                <input type="text" class="form-control" id="timeZoneName" name="timeZoneName"
                       ng-model="newTimeZone.name" required ng-maxlength="150">
                <div role="alert">
                    <span class="alert-danger" ng-show="inputForm.timeZoneName.$error.required">
                        Required!
                    </span>
                    <span class="alert-danger" ng-show="inputForm.timeZoneName.$error.maxlength">
                        Too long!
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="locations">City:</label>
                <input type="text" class="form-control" id="locations" ng-model="newTimeZone.locations" ng-maxlength="150" name="timeZoneLocation">
                <div role="alert">
                    <span class="alert-danger" ng-show="inputForm.timeZoneLocation.$error.maxlength">
                        Too long!
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="offset">Offset*:</label>
                <input type="text" name="offset" class="form-control" id="offset"
                       ng-model="newTimeZone.offset" required ng-pattern="/^-?([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/">
                <div role="alert">
                    <span class="alert-danger" ng-show="inputForm.offset.$error.required">
                        Required!
                    </span>
                    <span class="alert-danger" ng-show="inputForm.offset.$error.pattern">
                        offset format is HH:mm:ss or -HH:mm:ss
                    </span>
                </div>
            </div>

            <br />
            <button type="reset" class="btn btn-sm btn-clear" ng-click="toggleShowAddTimeZone()">Cancel</button>
            <button type="submit" ng-disabled="inputForm.$invalid" class="btn btn-sm btn-primary"
                    ng-click="addTimeZone()">
                Add
            </button>
        </form>
        <br>
        <br/>
        <input type="search" ng-model="q" placeholder="filter..."/>
        <div> 
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Locations</th>
                        <th>Offset</th>
                        <th>Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-ng-repeat="timeZone in timeZones | filter:q" ng-form="editForm">
                    <tr>
                        <td>
                            <button ng-if="!timeZone.editMode" class="btn btn-primary btn-xs" ng-click="editTimeZone(timeZone)">Edit</button>
                            <button ng-if="timeZone.editMode" type="reset" class="btn btn-clear btn-xs" ng-click="editTimeZone(timeZone)">Cancel</button>
                        </td>
                        <td>
                            <span ng-if="!timeZone.editMode">{{ timeZone.name }}</span>
                            <div ng-if="timeZone.editMode">
                                <input type="text" class="form-control" id="name" name="timeZoneName" ng-model="timeZone.name" ng-maxlength="150" required>
                                <div role="alert">
                                    <span class="alert-danger" ng-show="editForm.timeZoneName.$error.required">
                                        Required!
                                    </span>
                                    <span class="alert-danger" ng-show="editForm.timeZoneName.$error.maxlength">
                                        Too long!
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span ng-if="!timeZone.editMode">{{ timeZone.locations }} </span>
                            <div ng-if="timeZone.editMode">
                                <input type="text" class="form-control" ng-model="timeZone.locations" name="timeZoneLocation" ng-maxlength="150">
                                <div role="alert">
                                    <span class="alert-danger" ng-show="editForm.timeZoneLocation.$error.maxlength">
                                        Too long!
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span ng-if="!timeZone.editMode"> {{ timeZone.offset }} </span>
                            <div ng-if="timeZone.editMode">
                                <input type="text" name="offset" class="form-control" id="offset"
                                       ng-model="timeZone.offset" required ng-pattern="/^-?([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/">
                                <div role="alert">
                                    <span class="alert-danger" ng-show="editForm.offset.$error.required">
                                        Required!
                                    </span>
                                </div>
                                <span class="alert-danger" ng-show="editForm.offset.$error.pattern">
                                    offset format is HH:mm:ss or -HH:mm:ss
                                </span>
                            </div>
                        </td>
                        <td>
                            <span ng-if="!timeZone.editMode" time="'MM/DD/YYYY HH:mm'" zone="timeZone"></span>
                        </td>
                        <td>
                            <button ng-if="!timeZone.editMode" class="btn btn-danger btn-xs" ng-click="deleteTimeZone($index, timeZone)">Delete</button>
                            <button ng-if="timeZone.editMode" type="submit" ng-disabled="editForm.$invalid"
                                    class="btn btn-primary btn-xs" ng-click="updateTimeZone(timeZone)">
                                Confirm
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>

</div>


