﻿
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in users">
                    <td>
                        <h4> {{ user.userName }}</h4> 
                    </td>
                    <td>
                        <select ng-disabled="user.userName === curentUserName"
                                class="form-control" name="userRoleSelect"
                                ng-model="user.role" ng-change="userRoleChanged(user)" size="1">
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                            <option value="UserManager">User Manager</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" ng-disabled="user.userName === curentUserName " 
                                ng-click="deleteUserRole(user)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
